body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/Users/keshavs/Desktop/Project2024/PICTURES/Projects/tiger_bgp.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: orange;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    padding: 1px;
}

.head_content {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.image{
    align-items: flex-start;
}
.content{
    align-self:center;
    padding-left: 300px;
    color: white;
}

#logo {
    margin-right: 0px;
    width: 300px;
    height: 150px;
}

h1 {
    margin: 0;
}
.center_align{
    text-align: center;
}
.left_align{
    text-align: left;
}

nav {
    background-color: goldenrod;
}

.nav_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav_list li {
    padding: 10px 20px;
    width: 200px;
    height: 20px;
}

.nav_list li a {
    color: white;
    text-decoration: none;
}
.nav_list li a:hover {
    color: white;
    text-decoration: none;
    color: orangered;
}

.drop_down {
    display: none;
    position:absolute;
    background-color: black;
    opacity: 0.9;
    list-style-type: none;
}

.nav_list li:hover .drop_down {
    display: block;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 3px;
    margin: 5px;
    background-color: rgba(70,70,70,0.5);
    color: white;
}
.box_1{
    align-self: center;
    letter-spacing: 1px;
    font-family:Arial, Helvetica, sans-serif;
}