body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/Users/keshavs/Desktop/Project2024/PICTURES/Projects/coral_bgp.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}

header {
    background-color: turquoise;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    padding: 1px;
}

.head_content {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.image{
    align-items: flex-start;
}
.content{
    align-self:center;
    padding-left: 80px;
    color: white;
}

#logo {
    margin-right: 0px;
    width: 300px;
    height: 150px;
}

h1 {
    margin: 0;
}
.center_align{
    text-align: center;
}
.left_align{
    text-align: left;
}

nav {
    background-color: goldenrod;
}

.nav_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav_list li {
    padding: 10px 20px;
    width: 200px;
    height: 20px;
}

.nav_list li a {
    color: white;
    text-decoration: none;
}
.nav_list li a:hover {
    color: white;
    text-decoration: none;
    color: orangered;
}

.drop_down {
    display: none;
    position:absolute;
    background-color: black;
    opacity: 0.9;
    list-style-type: none;
}

.nav_list li:hover .drop_down {
    display: block;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin: 3px;
}
h3{
    color: aqua;
    text-align: center;
}
h3:hover{
    color: aquamarine;
}
.box_1{
    background-color: rgba(70,70,70,0.7);
    color: white;
    align-self: center;
    margin: 3px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.box_2{
    background-color: rgba(70,70,70,0.7);
    color: white;
    align-self: center;
    margin: 3px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.box_3{
    align-self: center;
}
#size{
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.box_4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
}
.lst_1{
    width: 40%;
    background-color: rgba(70,70,70,0.7);
    color: white;
    margin: 3px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.lst_2{
    width: 50%;
    background-color: rgba(70,70,70,0.7);
    color: white;
    margin: 3px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.box_5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.sub1{
    width: 40%;
    background-color: rgba(70,70,70,0.7);
    color: white;
    margin: 3px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.sub2{
    width: 50%;
    background-color: rgba(70,70,70,0.7);
    color: white;
    margin: 3px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.box_6{
    background-color: rgba(70,70,70,0.7);
    color: white;
    align-self: center;
    margin: 3px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.box_7{
    background-color: rgba(70,70,70,0.7);
    color: white;
    margin: 3px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 7px;
}
li:hover{
    color: skyblue
}
ul{
    list-style-type:square;
}
