body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: beige;
}

header {
    background-image: url(/Users/keshavs/Desktop/Project2024/background_pages.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    padding: 1px;
}

.head_content {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.image{
    align-items: flex-start;
}
.content{
    align-self:center;
    padding-left: 200px;
    color: orangered;
}

#logo {
    margin-right: 0px;
    width: 300px;
    height: 150px;
}

h1 {
    margin: 0;
}
.center_align{
    text-align: center;
}
.left_align{
    text-align: left;
}

nav {
    background-color: goldenrod;
}

.nav_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav_list li {
    padding: 10px 20px;
    width: 200px;
    height: 20px;
}

.nav_list li a {
    color: white;
    text-decoration: none;
}
.nav_list li a:hover {
    color: white;
    text-decoration: none;
    color: orangered;
}

.drop_down {
    display: none;
    position:absolute;
    background-color: black;
    opacity: 0.9;
    list-style-type: none;
}

.nav_list li:hover .drop_down {
    display: block;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.ele,.ele_proj{
    align-self: center;
    margin: 10px;
}
.ele_proj{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 530px;
    justify-content: space-evenly;
    background-image: url(/Users/keshavs/Desktop/Project2024/PICTURES/homepage/homepage_elephant_bgp.png);
    background-repeat: no-repeat;
    padding-top: 40px;
}
.std{
    width: 200px;
    height: 120px;
    border:1px solid #828282;
    border-radius: 4px;
}
.proj_head a:visited,a:active{
    color: green;
}
.proj_head a{
    color: green;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.proj_head a:hover{
    color: orangered;
}
.proj_link{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    text-decoration: none;
    font-size: 12px;
}
.proj_link:hover{
    color: orangered;
    text-decoration: none;
}
.format_text{
    text-align: center;
    letter-spacing: 1px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ele_other{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 530px;
    justify-content: space-evenly;
    padding-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ele_1,.ele_2,.ele_3,.ele_4{
    width: 15%;
}
.ele_proj{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}